.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EDDCD9;
    height: auto;
    width: auto;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    padding: 20px;
}

.title {
    color: #264143;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sub_title {
    font-weight: 600;
    margin: 5px 0;
    display: block;
}

.form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px 0;
    width: 100%;
}

.checkbox_group {
    flex-direction: row;
    align-items: center;
}

.checkbox_group input {
    margin-right: 10px;
}

.form_style {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
}

.form_style:focus,
.btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #E99F4C;
}

.btn {
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    background: #DE5499;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #E99F4C;
    border: none;
    color: white;
    cursor: pointer;
}

.btn:hover {
    opacity: .9;
}

.error {
    color: #DE5499;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Add these styles to EventRegistrationForm.css */
.summary {
    text-align: left;
    margin-bottom: 20px;
}

.summary p {
    margin: 10px 0;
}


/* Responsive Styles */

@media (max-width: 480px) {
    .form_area {
        padding: 15px;
    }

    .form_style {
        padding: 10px;
    }

    .btn {
        padding: 10px;
    }
}

@media (max-width: 320px) {
    .form_area {
        padding: 10px;
    }

    .form_style {
        padding: 8px;
    }

    .btn {
        padding: 8px;
    }
}